<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input
      matInput
      placeholder="Nombre"
      formControlName="firstName"
      type="text"
      id="firstName">
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Apellido"
      formControlName="lastName"
      type="text"
      id="lastname">
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Email"
      formControlName="email"
      type="email"
      id="email">
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="password"
      formControlName="password"
      type="password"
      id="password">
  </mat-form-field>
  <button type="submit" mat-raised-button color="accent">Crear usuario</button>
  <p style="text-align: center">
    Ya tienes un usuario
    <a mat-button color="primary" [routerLink]="['/signin']">Iniciar Sesion</a>
  </p>
</form>
